/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, h2, h3, p, a, button, form, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Estilo general del cuerpo de la página */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #f6f8fa; /* Color de fondo similar al de GitHub */
    color: #24292e; /* Color de texto principal */
    line-height: 1.6;
}

/* Estilo de la barra de navegación */
nav {
    background-color: #24292e; /* Color de fondo de la barra de navegación de GitHub */
    color: #ffffff; /* Color de texto en la barra de navegación */
    padding: 10px 20px; /* Espaciado interno en la barra de navegación */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra en la barra de navegación */
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div a {
    color: #ffffff; /* Color del texto de los enlaces en la barra de navegación */
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600; /* Negrita en los enlaces */
}

nav div form {
    margin-left: auto; /* Mover la barra de búsqueda hacia la derecha */
}

/* Estilo del contenedor principal */
.slogan {
    font-size: 18px;
    color: #0366d6; /* GitHub link color */
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
}

.container {
    max-width: 980px; /* Máximo ancho del contenido, similar al de GitHub */
    margin: 20px auto; /* Margen exterior para centrar el contenido */
    background-color: #ffffff; /* Color de fondo del contenedor principal */
    padding: 20px; /* Espaciado interno en el contenedor principal */
    border: 1px solid #e1e4e8; /* Borde alrededor del contenedor principal */
    border-radius: 6px; /* Esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra en el contenedor principal */
}

.container h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #24292e;
}

.container h3 {
    font-size: 24px;
    color: #0366d6;
    margin-top: 15px;
    margin-bottom: 10px;
}

.container blockquote {
    margin: 10px 0;
    padding: 0 0 0 20px;
    border-left: 4px solid #e1e4e8;
    color: #586069;
}

.container p {
    color: #586069;
    line-height: 1.5;
}

.container a {
    color: #0366d6;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.container button {
    background-color: #28a745; /* Color verde GitHub para todos los botones */
    color: #ffffff;
    padding: 10px 15px; /* Ajuste del tamaño de los botones */
    border: none;
    border-radius: 4px; /* Reducción de la esquina redondeada */
    cursor: pointer;
    font-size: 15px; /* Reducción del tamaño de la fuente */
    transition: background-color 0.3s ease;
}

.container button:hover {
    text-decoration: none;
    background-color: #218838; /* Color más oscuro al hacer hover */
}

.container form {
    margin-top: 20px;
}

.container button[type="submit"] {
    transition: background-color 0.3s ease;
}

.container button[type="submit"]:hover {
    text-decoration: none;
}

/* Estilos específicos para la página de inicio */
/* .profile_welcome {
    margin-bottom: 20px;
} */

.profile_welcome h2 {
    display: inline-block;
    margin-right: 10px;
}

.profile_welcome .projects-btn {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.profile_welcome .projects-btn:hover {
    background-color: #218838;
}

#post-list .post {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    background-color: #ffffff;
}

#post-list .post h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0366d6;
}

#post-list .comment-count {
    margin-top: 5px;
    font-size: 14px;
}

#post-list .delete-post-form {
    display: inline;
}

#post-list .delete-post-btn {
    background-color: #28a745;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#post-list .delete-post-btn:hover {
    background-color: #218838;
}

#new-post-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#new-post-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

#new-post-form .post-form {
    display: flex;
    flex-direction: column;
}

#new-post-form .form-group {
    margin-bottom: 15px;
}

#new-post-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#new-post-form .post-form textarea {
    height: 120px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    background-color: #fff;
    transition: border-color 0.3s ease; /* Añadido para la transición del color de borde */
}

#new-post-form .post-form textarea:focus {
    border-color: #6c757d;
}

#new-post-form .post-btn {
    background-color: #28a745;
    color: #ffffff;
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#new-post-form .post-btn:hover {
    background-color: #218838;
}

/* Estilos específicos para la página de detalle del post */
#post-detail h2 {
    font-size: 36px;
    margin-bottom: 15px;
    color: #24292e;
}

#post-detail .post-meta {
    color: #586069;
    font-size: 14px;
}

#post-detail .delete-post-form {
    display: inline;
}

#post-detail .delete-post-btn {
    background-color: #28a745;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#post-detail .delete-post-btn:hover {
    background-color: #218838;
}

/* Sección de comentarios */
#comments-section .comment-list {
    list-style-type: none;
    padding: 0;
}

#comments-section .comment {
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e4e8;
    padding-bottom: 15px;
}

#comments-section .comment p {
    margin: 5px 0;
}

#comments-section .comment-meta {
    color: #586069;
    font-size: 14px;
}

#comments-section .delete-comment-form {
    display: inline;
}

#comments-section .delete-comment-btn {
    background-color: #28a745;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

#comments-section .delete-comment-btn:hover {
    background-color: #218838;
}

/* Formulario para agregar un nuevo comentario */
#new-comment-form .comment-form textarea {
    height: 50px;
}

#new-comment-form .comment-btn {
    background-color: #28a745;
    color: #ffffff;
    padding: 12px 18px;
    transition: background-color 0.3s ease;
}

#new-comment-form .comment-btn:hover {
    background-color: #218838;
}

/* Estilos generales para el formulario */
.project-form {
    max-width: 400px; /* Ajusta el ancho máximo según tu diseño */
    margin: auto; /* Centra el formulario en la página */
}

/* Estilos para los campos del formulario */
.project-form label {
    display: block;
    margin-bottom: 5px;
}

.project-form input,
.project-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Estilos para el botón de enviar */
.comment-btn,
.code-btn,
.enter-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Para asegurar que no haya subrayado */
    display: inline-block; /* Para corregir el espacio adicional en algunos navegadores */
}

.comment-btn:hover,
.code-btn:hover,
.enter-btn:hover {
    background-color: #45a049;
}

/* Estilos específicos para los enlaces dentro de los botones en listas */
li .code-btn a,
li .enter-btn a {
    color: inherit;
}

.my-projects {
    display: flex;
    align-items: center;
}

.my-projects h1 {
    margin-right: 10px;  /* Ajusta este valor según tu preferencia */
}

li .code-btn a,
li .enter-btn a,
.my-projects button a {
    color: #ffffff;
    text-decoration: none;
}

.user-projects{
    display: grid;
}

.user-projects button a {
    color: #ffffff;
    text-decoration: none;
}

.user-projects {
    margin: 20px 0;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta el valor mínimo y máximo según sea necesario */
    gap: 20px;
    list-style: none;
    padding: 0;
}

.project-card {
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-btn {
    width: calc(100% - 14%); /* Resta 30px para dejar espacio en ambos lados del botón */
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 20px; /* Ajusta este valor según sea necesario */
    transition: background-color 0.3s ease;
}

.comment-btn:hover {
    background-color: #45a049;
}

/* Ajusta el padding de la tarjeta según sea necesario */
.project-card .comment-btn {
    margin: 20px;
}
