{% extends 'base.html' %}
{% load static %}
{% block page_content %}

<!-- Sección de bienvenida al perfil -->
<section>
    <div class="profile_welcome">
    <h2>Perfil de {{ username }}</h2><a href="{% url 'projects_index' username=username %}"><button class="projects-btn">Projects</button></a>
    </div>
</section>

<!-- Lista de posts en el perfil -->
<section id="post-list">
    {% for post in user_posts %}
        <article class="post">
            <!-- Información del post -->
            <h3><a href="{% url 'post_detail' username=post.profile_owner.username post_id=post.id %}">{{ post.title }}</a></h3>
            <blockquote>{{ post.content }}</blockquote>
            <p class="post-meta">
                Publicado por <a href="{% url 'home' username=post.posted_by.username %}">{{ post.posted_by.username }}</a> el {{ post.created_at }}
            </p>
            <p class="comment-count">Comentarios ({{ post.comment_set.count }})</p>

            <!-- Botón de eliminar post (solo para el autor o dueño del perfil) -->
            {% if post.posted_by == request.user or post.profile_owner == request.user %}
                <form action="{% url 'delete_post' username=post.posted_by.username post_id=post.id %}" method="post" class="delete-post-form">
                    {% csrf_token %}
                    <button type="submit" class="delete-post-btn">Eliminar</button>
                </form>
            {% endif %}
        </article>
    {% endfor %}
</section>

<!-- Formulario para crear un nuevo post -->
<section id="new-post-form">
    <h2>Crear un nuevo post:</h2>
    <form method="post" action="" class="post-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Title:</label>
            {{ post_form.title }}
        </div>
        <div class="form-group">
            <label for="id_content">Content:</label>
            {{ post_form.content }}
        </div>
        <button type="submit" class="post-btn">Publicar</button>
    </form>
</section>



{% endblock %}
