<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->
</head>
<body>
    <nav>
        <div>
            <h1><a href="{% url 'landing' %}">DevBook</a></h1>

            {% if user.is_authenticated %}
                <a href="{% url 'home' username=request.user.username %}">{{ request.user.username }}</a>    
            {% endif %}

            <form method="get" action="{% url 'user_search' %}">
                <input type="text" name="q" placeholder="Buscar usuarios">
                <button type="submit">Buscar</button>
            </form>

            <p>{{ current_datetime|date:"F j, Y" }}</p>
        </div>
    </nav>

    <div class="container">
        {% block page_content %}
        {% endblock %}
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2023 DevBook. Todos los derechos reservados.</p>
            <a href="{% url 'about' %}">About</a>    
        </div>
    </footer>
</body>
</html>