{% extends 'base.html' %}
{% block page_content %}
<div class="project-detail-container">
    <h1>{{ project.title }}</h1>
    <blockquote>{{ project.description }}</blockquote>
    <div class="project-buttons">
        <button class="code-btn"><a href="{{ project.repository_link }}" target="_blank">CODE</a></button>
        <button class="enter-btn"><a href="{{ project.link }}" target="_blank">ENTER</a></button>
        <button class="enter-btn"><a href="{% url 'edit_project' username=username project_id=project.id %}">Edit Project</a></button>

    </div>
    <hr>
    <div class="project-details">
        <p>Created at: {{ project.created_at }}</p>
        <p>Last modified: {{ project.modified_at }}</p>
    </div>
</div>
<h2>Comentarios:</h2>
{% if comments %}
    <ul>
    {% for comment in comments %}
        <li>
            <p>{{ comment.content }} - <a href="{% url 'home' username=comment.user.username %}">{{ comment.user.username }}</a></p>
            <p class="comment-meta">{{ comment.created_at }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
<p>No hay comentarios</p>
{% endif %}

<h3>Agregar comentario:</h3>
<form method="post" action="{% url 'project_detail' username=username project_id=project.id %}" class="comment-form">
    {% csrf_token %}
    {{ projectcomment_form.as_p }}
    <button type="submit" class="comment-btn">Comentar</button>
</form>

{% endblock %}
