{% extends 'base.html' %}
{% block page_content %}

{% if is_owner %}
    <h1>Mis proyectos</h1>
{% else %}
    <h1>{{ username }} Projects Index</h1>
{% endif %}

{% if user_projects %}
    <ul>
        {% for project in user_projects %}
            <li><a href="{% url 'project_detail' username=username project_id=project.id %}">{{ project.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No projects created</p>
{% endif %}

<form method="post" action="" class="project-form">
    {% csrf_token %}
    {{ project_form.as_p }}
    <button type="submit" class="comment-btn">Crear</button>
</form>

{% endblock %}